@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    min-width: 100vw;
    height: 100%;
    background-color: #001220;
    color: white;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 100%;
}

.container h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* height: 100vh; */
    /* flex-grow: 1; */
    /* background-color: blueviolet; */
}

.svg2 {
    display: none;
    position: absolute;
    height: 100%;
    width: 900px;
}

.profile-container .svg {
    width: 40%;
    /* background-color: bisque; */
}

.profile-container .svg svg {
    width: 100%;
}

.information {
    margin: 1rem 0 0 1rem;
    /* width: 60%; */
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    /* background-color: cornflowerblue; */
}

.block {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 15px;
    min-width: 40%;
}

.block:nth-child(3) {
    grid-column: span 2;
}

.information p {
    padding: 10px;
    /* text-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2; */
}

.information p b {
    color: aqua;
    font-weight: bolder;
    font-size: 1.2rem;
}

.dr_svg {
    width: 40%;
    height: 60%;
}

.dr_svg svg {
    width: 100%;
    height: 60%;
}

.dr_information {
    grid-template-columns: 50%;
}

@media only screen and (max-width: 900px) {
    .profile-container .svg {
        display: none;
    }

    .dr_svg{
        display: none;
    }   

    .container {
        min-width: 100%;
    }

    .information p b {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px){
    .dr_information{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 50%;
    }

}

@media only screen and (min-width: 600px) {
    .container {
        min-width: 90%;
    }


}