{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Questions</title>
  <script src="https://kit.fontawesome.com/4ac9ddbdf6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href=" {% static 'css/type1.css' %}" />
</head>

<body>
  <form method="POST" action="" id="questionform" class="container">
    <div class="heading-container"> Your Case Sheet Name: {{returndict.casesheetname}} </div>
    <div class="message-container">
      {% csrf_token %}
      <input type="hidden" value="{{returndict.casesheetname}}" name="currentscasesheetname" />
      <input type="hidden" value="{{returndict.question}}" name="current_question" />


      <div class="bot messagebox">Welcome {{request.user.first_name}}</div>
      <div class="bot messagebox">Enter the name of your casesheet</div>
      <div class="user messagebox">{{returndict.casesheetname}}</div>

      {% for key, value in data_dict.items %}
      {% if value != None %}

      {% if value|first == "Q" %}

      <div class="bot messagebox single">{{value}}</div>

      {% else %}

      <div class="user messagebox">{{value}}</div>

      {% endif %}

      {% endif %}

      {% endfor %}

      <div class="bot messagebox" id="current_question">{{returndict.question}}</div>

      <div class="option_tab">
        {% for option in returndict.options %}
        <div class="radio all_options_div">
          <label class="label user messagebox" id="label-{{option}}"> {{option}}
            <input type="radio" name="selectedoption" value="{{option}}" id="{{option}}" class="all_options"
              onclick="selectBut(id)" required />
        </div>
        {% endfor %}
      </div>

      <div class="user messagebox hide" id="empty_search">No results found</div>

    </div>

    <div class="input-bar">
      <input type="text" class="input-box" placeholder="Message here..." id="input-box" onkeyup="filter_options()">
      <button class="send-btn" onclick="updateAction()">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </div>
  </form>

  <!-- HIDDEN INPUT  transferring casesheetname-->

  <!-- <br><br>

  {{returndict.question}}<br /><br />


  {% for option in returndict.options %}
  <div class="qpb">
    <div class="radio">
      <label class="label" id="label-{{option}}"> {{option}}
        <input type="radio" name="selectedoption" value="{{option}}" id="{{option}}" class="all_options"
          onclick="selectBut(id)" required />
    </div>
    {% endfor %} -->

  <!-- <button onclick="updateAction()">Submit</button> -->
  <!-- </div> -->

  <script defer>

    document.getElementById('current_question').scrollIntoView()

    var all_options_div = document.getElementsByClassName("all_options_div");
    var input_box = document.getElementById('input-box');

    function filter_options() {

      for (i = 0; i < all_options_div.length; i++) {
        all_options_div[i].style.display = "block";
      }
      document.getElementById("empty_search").classList.add ("hide");
      if (input_box.value == "") {
        return;
      }

      // Actual filter
      for (i = 0; i < all_options_div.length; i++) {
        var opt_value = all_options_div[i].childNodes[1].id;
        opt_value = opt_value.substring(6);
        opt_value = opt_value.toLowerCase()
        if (!opt_value.includes(input_box.value.toLowerCase())) {
          all_options_div[i].style.display = "none";
        }
      }

      // If no results found for every element
      var all_blank = false
      for (i = 0; i < all_options_div.length; i++) {
        if (all_options_div[i].style.display != "none") {
          all_blank = true;
        }
      }
      if (all_blank == false) 
        document.getElementById("empty_search").classList.remove ("hide");
    }

    var currentRadioSelection;

    function updateAction() {
      var fname = document.getElementById("questionform");
      var qname = "{{returndict.question_name}}";
      var actionlink = "{% url 'go_home' %}" + "main/" + qname + "/";
      fname.action = actionlink;
      console.log(actionlink);
      console.log(fname.action);
      fname.submit();
    }

    function sayHey() {
      console.log("Hey");
    }

    function selectBut(id) {
      input_box.value = id;
      console.log(id);
      console.log("Current: " + currentRadioSelection);
      var custom_item = "label-" + id;
      var result = document.getElementById(custom_item);
      if (currentRadioSelection != undefined) {
        currentRadioSelection.style.backgroundColor = "transparent";
        currentRadioSelection.style.color = "black";
      }
      currentRadioSelection = result;
      currentRadioSelection.style.backgroundColor = "#ff6b6b";
      currentRadioSelection.style.color = "white";
    }

    var options_class = document.getElementsByClassName("all_options");


      // for (i = 0; i < options_class.length; i++) {
      //   options_class[i].addEventListener("mousedown",function(){console.log("in func")},true);
      //   console.log(options_class[i]);
      // }

  </script>
  </div>

</body>

</html>