<!DOCTYPE html>
<html>
<head>
    <style>
        .hihi {
            color: red;
        }
        </style>
</head>
<body>

<h2>JavaScript HTML DOM</h2>
<p>Add a new HTML Element.</p>

<div id="div1">
<p id="p1">This is a paragraph.</p>
<p id="p2">This is another paragraph.</p>
</div>

<script>
const para = document.createElement("p");
const node = document.createTextNode("This is new.");
para.appendChild(node);
para.classList.add("hihi");
const element = document.getElementById("div1");
element.appendChild(para);

element.appendChild()

</script>

</body>
</html>
